{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "EIPAPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block eipaplatform_body %}

  <ul>

        {#}
        <a href="{{ path('eipa_platform_view', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}
        {#}
  </ul>

{% endblock %}